footer {
  display: flex;
  justify-content: center;

  text-align: center;
  background-color: var(--primary-color);
  color: white;
}

.container-footer {
  margin: 10px auto;
  letter-spacing: 1px;
  width: 90%;
  max-width: 1200px;
  text-decoration: none;
  color: white;
}

.container-footer a {
  color: white;
}

.footer-nav li {
  margin: 15px 0;
  transition: all 0.3s ease-in-out;
}

.footer-nav li:hover {
  letter-spacing: 3px;
  transform: scale(1.03);
}

.description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
